<div class="row">
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add a single person
            </div>
            <div class="panel-body">
                <form id="characterform" action="/add/character" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Person to add">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add multiple people
            </div>
            <div class="panel-body">
                <form id="charactersform" action="/add/characters" method="post">
                    <div class="form-group">
                        <label for="names">Names</label>
                        <textarea class="form-control" id="names" name="names" placeholder="People to add, one per line" rows="3"></textarea>
                        <button type="submit" class="btn btn-default" form="charactersform">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
                Add an entire corporation/alliance (via evewho)
            </div>
            <div class="panel-body">
                <form id="corpform" action="/add/evewho" method="post">
                    <div class="form-group">
                        <label for="corp">Corporation</label>
                        <input type="text" class="form-control" id="corp" name="corp" placeholder="Corporation or Alliance to add">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
