<div class="row">
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add multiple people
            </div>
            <div class="panel-body">
                <form id="charactersform" action="/add/characters" method="post">
                    <div class="form-group">
                        <label for="standing1">Standing</label>
                        <input type="text" class="form-control" id="standing1" name="standing" value="-10">
                        <div class="checkbox">
                            <label><input type="checkbox" value="" name="watchlist" checked>Add to watchlist</label>
                        </div>
                        <label for="names">Names</label>
                        <textarea class="form-control" id="names" name="names" placeholder="People to add, one per line" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary" form="charactersform">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
                Add an entire corporation/alliance (via evewho)
            </div>
            <div class="panel-body">
                <form id="corpform" action="/add/evewho" method="post">
                    <div class="form-group">
                        <label for="standing2">Standing</label>
                        <input type="text" class="form-control" id="standing2" name="standing" value="-10">
                        <div class="checkbox">
                            <label><input type="checkbox" value="" name="watchlist" checked>Add to watchlist</label>
                        </div>
                        <label for="corp">Group</label>
                        <input type="text" class="form-control" id="corp" name="corp" placeholder="Corporation or Alliance to add">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
                Add supers for a corp/alliance (via zkb)
            </div>
            <div class="panel-body">
                <form id="zkbform" action="/add/zkbsupers" method="post">
                    <div class="form-group">
                        <label for="standing3">Standing</label>
                        <input type="text" class="form-control" id="standing3" name="standing" value="-10">
                        <div class="checkbox">
                            <label><input type="checkbox" value="" name="supers" checked>Supercarriers</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" name="titans" checked>Titans</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" name="watchlist" checked>Add to watchlist</label>
                        </div>
                        <label for="corp">Group</label>
                        <input type="text" class="form-control" id="group" name="group" placeholder="Corporation or Alliance to add supers for">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
